@font-face {
    font-family: "main-font";
    src:
        url(../../fonts/Poppins-Regular.woff2) format("woff2"),
        url(../../fonts/Poppins-Regular.woff) format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: block;
}
@font-face {
    font-family: "main-font";
    src:
        url(../../fonts/Poppins-Medium.woff2) format("woff2"),
        url(../../fonts/Poppins-Medium.woff) format("woff");
    font-weight: 500;
    font-style: normal;
    font-display: block;
}
@font-face {
    font-family: "main-font";
    src:
        url(../../fonts/Poppins-SemiBold.woff2) format("woff2"),
        url(../../fonts/Poppins-SemiBold.woff) format("woff");
    font-weight: 600;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: "icomoon";
    src:
        url(../../fonts/icomoon.woff2) format("woff2"),
        url(../../fonts/icomoon.woff) format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: block;
}