h1 {
    font-size: 30px;
    color: $main-text-hover--1;
    border: 2px solid $table-bg-1;
    display: inline-block;
    padding: 10px;
}

button {
    background-color: rgb(192, 190, 190);
    color: $Black-text;
    margin: 8px;
}