.task-6 {
    display: flex;
    gap: 60px;
    justify-content: flex-start;
    align-items: flex-start;

    &__head {
        display: flex;
        gap: 50px;
    }
    &__select {
        & h2 {
            margin: 0;
        }
        & ul {
            padding: 0;
        }
        & li {
            padding: 5px;
            border: 1px solid black;
            margin: 5px;
        }
    }
    &__body {
        & button {
        }
        & h2 {
            margin: 0;
        }
        & ul {
            padding: 0;
            display: inline-flex;
            flex-direction: column;
        }
        & li {
            padding: 5px;
            border: 1px solid black;
            margin: 5px;
            display: inline-flex;
            gap: 12px;
            // justify-content: center;
            align-items: center;
            & p {
                margin: 0;
            }
            & button {
                padding: 0;
                margin: 0;
                margin-left: auto;
                border: none;
                background: transparent;
                outline: none;
                display: flex;
                justify-content: center;
                align-items: center;
                transition: 0.3s;
                &:hover {
                    transform: scale(1.1);
                }
            }
            & img {
                width: 40px;
                height: 40px;
            }
        }
    }
    & .active {
        background-color: rgb(233, 233, 233);
    }
}
