.task-4 {
    &__cell {
        width: 40px;
        height: 40px;
        background-color: lightgray;
        cursor: pointer;
    }

    &__has-mine-state {
        width: 40px;
        height: 40px;
        background-color: red;
    }
    &__no-mine-state {
        width: 40px;
        height: 40px;
        background-color: green;
    }
}
