.task-5 {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    gap: 30px;
    & h2 {
        margin: 0;
    }
    & p {
        margin: 0;
    }
    &__column {
        border: 2px solid black;
        padding: 12px;
    }
    &__list {
        padding: 0;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    &__element {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 15px;
        border: 2px solid black;
        padding: 8px;
    }

    &__btn {
        max-width: 150px;
        height: 40px;
        margin: 0;
        padding: 0 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 0.3s;
        &:hover {
            transform: scale(1.1);
        }
        & img {
            max-width: 150px;
            height: 30px;
        }
    }
}
