.task-12 {
    padding: 20px;
    border: 3px solid black;
    display: flex;
    gap: 40px;
    align-items: flex-start;
    justify-content: flex-start;
    &__column {
        border: 2px solid black;
        padding: 10px;
        display: flex;
        flex-direction: column;
        // gap: 30px;
        & h2 {

        }
        & h3 {

        }
        & p {
            padding: 4px;
            border-radius: 6px;
            cursor: pointer;
        }
    }
    &__add-btn {
        align-self: center;
    }
    &__activeMag {
        background-color: rgb(198, 179, 252);
    }
    &__activeGood {
        background-color: rgb(198, 179, 252);
    }
}