@use "sass:math";

@import './fonts';
@import './general';

// Для css файлів працює так само але @import "./variables.css"; треба писати розширення .css
// ця система типу збирає всі файли в папці в один файл той що
//  index і це йде по дереву зверху вних все збираєм що у index записано