@use "/src/assets/styles/abstracts/index" as *;

.cartList {
  &__wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(toRem(272), 1fr));
    justify-items: center;
    @include adaptiveValue("gap", 15, 10);
    margin-bottom: toRem(15);
  }
  &__empty {
    @extend %default-font;
    font-size: toRem(24);
    font-weight: 700;
    margin-bottom: toRem(-18);
  }
  &__payTotalZone {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: toRem(36);
    row-gap: toRem(16);
    flex-wrap: wrap;
    margin-top: toRem(24);
  }
}

.cart {
  &__item {
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: toRem(420);
    padding: toRem(12);
    border-radius: $general-border-radius;
    box-shadow: toRem(5) toRem(5) 0 rgb(50 50 40 / 30%);
    background: var(--main-bg);
    transition: 0.3s;
  }
  &__imgWrap {
    max-width: toRem(1140);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    & img {
      @include adaptive-image-settings(
        $width: 100%,
        $height: auto,
        $object-fit: cover,
        $aspect-ratio: toRem(884) / toRem(589)
      );
    }
  }
  &__info {
    margin-bottom: toRem(10);
    & h3 {
      @extend %default-font;
      font-size: toRem(14) !important;
      font-weight: 600;
      margin-bottom: toRem(5);
      font-weight: 600 !important;
      color: var(--Black-text);
      text-align: center;
    }
  }
  &__itemPrice {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: toRem(12);

    & p {
      color: var(--Black-text);
      font-size: toRem(14) !important;
      font-weight: 500;
      text-align: left;
      @media (max-width: toEm($small-mobile-adaptive)) {
        margin-bottom: toRem(8) !important;
      }
    }
  }
  &__actionsZone {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: toRem(12);

    margin-top: auto;
    padding: toRem(8) toRem(12);
    background: var(--main-bg);
  }
  &__itemQuantity {
    @extend %default-font;
    font-size: toRem(14);
    font-weight: 700;
    text-align: center;
    padding: toRem(8);
    width: toRem(36);
    height: toRem(36);
    color: var(--AlwaysWhite-text);
    background-color: var(--button-color--3);
    border-radius: 50%;
  }
  &__countBtn {
    @extend %default-font;
    font-size: toRem(14);
    font-weight: 700;
    padding: toRem(5);
    text-align: center;
    width: toRem(30);
    height: toRem(30);
    transition: 0.3s;
    cursor: pointer;
    color: var(--AlwaysWhite-text);
    background-color: var(--button-color--3);
    border-radius: 50%;

    &:hover {
      color: var(--White-text);
      background: var(--Black-text);
    }
  }
  &__removeBtn {
    @extend %default-font;
    font-weight: 700;
    font-size: toRem(14);
    line-height: toRem(18);
    text-transform: uppercase;
    text-align: center;
    position: relative;
    display: inline-block;
    width: auto;
    padding: toRem(8) toRem(8);
    max-width: 100%;
    min-height: auto;
    transition: 0.3s;
    border-radius: $general-border-radius;
    color: var(--AlwaysWhite-text);
    background: var(--button-color--3);
    // border: 2px solid $main-text-hover--4;
    &--img {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: toRem(16);
      background: var(--button-color--2);
      padding: toRem(6) toRem(20);
    }
    & span {
      position: relative;
      z-index: 15;
    }
    &:hover {
      color: var(--White-text);
      background: var(--Black-text);
    }
  }
  &__total {
    @extend %default-font;
    font-weight: 500;
    font-size: toRem(16);
    color: var(--main-text);
    & span {
    }
  }
}
