@use "/src/assets/styles/abstracts/index" as *;

.kfcMap {
  margin-bottom: toRem(25);
  position: relative;
  z-index: 10;
  
  &__popup {
    & h3 {
      font-size: toRem(14);
      margin-bottom: toRem(6);
    }
    & p {
      font-size: toRem(12);
      margin: 0;
    }
  }
}